# deps
node_modules/
.pnpm-store/

# build
dist/
.next/
out/
*.tsbuildinfo

# env — ignora todos os .env, exceto o exemplo versionado
.env
.env.local
.env.*.local
.env.*
!.env.example

# prisma
packages/db/prisma/*.db

# logs / os
*.log
.DS_Store
coverage/
.turbo/
